body,td
	{	
		font-family:Tahoma,MS Sans Serif;
           	font-size:8pt;
		vertical-align: top;
	}

body.help {font-family:Tahoma,MS Sans Serif;
           font-size:8pt;}

table.help {font-family:Tahoma,MS Sans Serif;
           font-size:8pt;}

tr.markrow {background-color:#EFEFEF;}

td.no{background-color:505050;}



.caption
	{
		font-family:Tahoma,MS Sans Serif;
           	font-size:8pt;
		font-weight:bold;
		color:#003388;
	}

.label
	{
		font-family:Tahoma,MS Sans Serif;
           	font-size:8pt;
		font-weight:bold;
		color:#6C110C;
	}

.headline 
	{
		font-family:Tahoma,MS Sans Serif;
		text-decoration:underline;
		font-size:10pt;
		font-weight:bold;
		color:#003388;
	}

a
	{
		font-family:Tahoma,MS Sans Serif;
           	font-size:8pt;
		color:#7588a5;
	}

.link_color	{
			color:#FF160B;
		}

.footnote
	{	
		font-family:Tahoma,MS Sans Serif;
           	font-size:7pt;
		vertical-align: top;	
	}

.keyword{
		font-family:Tahoma,MS Sans Serif;
           	font-size:8pt;
		color:#FF0000;
		background-color:#EEEEFF;
		padding-left:2px;
		padding-right:2px;
	}

div.subparagraph	{
				padding-left:5px;
				padding-top:5px;
				text-align:justify;
			}

div.subparagraph_leftalign	
			{
				padding-left:10px;
				padding-top:5px;
			}

div.marked_subparagraph	{
				padding-left:5px;
				padding-right:5px;
				padding-top:3px;
				padding-bottom:5px;
				text-align:justify;
				background-color:#EEEEEE;
			}


div.codeparagraph	{
				margin-left:10px;
				margin-top:-13px;

			}

.functions{
		color:#008000;
	}

.strings{
		color:#b3734d;
	}

.block{
		color:#808080;
	}

.seps{
		color:#000000;
	}

.brackets{
		color:#FF0000;
	}
.parameters{
		color:#0000FF;
	}

a.aparameters
	{
		color:#0000FF;
	}

.comments{
		color:#909090;
		font-style:italic;
	}

.markedblock { background-color:#d1d2ff;

		}

.markcode	{
		color:#FF0000;
		}

.cola	{
		color:#ff6969;
	}

.colb	{
		color:#80b258;
	}
	